body{
    background-color: #22396A;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.bodycontent{
    color: white;
}

.resumeheader{
    color: #31BA66;
}

#socialconnect{
    background-color: #11244D;
    color: red;
    text-align: center;
    border-radius: 5px;
}

.image{
    text-align: center;
}